@font-face {
    font-family: "TTLakes-Regular";
    src: url(../fonts/TTLakes-Regular.woff)format(woff);;
}
@font-face {
    font-family: "TTLakes-Medium";
    src: url(../fonts/TTLakes-Medium.woff)format(woff);;
}
@font-face {
    font-family: "TTLakes-Bold";
    font-weight: 900;
    src: url(../fonts/TTLakes-Bold.woff) format(woff);
}

