* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8f8f8;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  font-family: "TTLakes-Regular";
}

/*Other*/

button {
  border: none;
  background: none;
}

.vl {
  width: 2px;
  background-color: #eaeaea;
  display: block;
  border-radius: 1px;
  height: 35px;
}

.link_item {
  text-decoration: none;
  display: flex;
  cursor: pointer;
  text-align: center;
  color: #7e7e82;
  border: 2px solid transparent;
  font-style: Medium;
  font-size: 18px;
  line-height: 24px;
}

.link_item:hover {
  background: #ffffff;
  border: 2px solid #b8ffec;
  border-radius: 6px;
}

.link {
  text-decoration: none;
  color: #1b1c21;
}

/*Display none/ for DT*/
